{% extends 'base.html' %}

{% block titulo %}
Ordens
{% endblock %}

{% block conteudo %}

<h2>Ordens de Serviço</h2>

{% if session["tipo"] == "admin" %}

<div class="form-box">

    <form method="POST" action="/adicionar_ordem">

        <input
        type="text"
        name="usuario"
        placeholder="Usuário do cliente"
        required>

        <input
        type="text"
        name="cliente"
        placeholder="Nome do cliente"
        required>

        <input
        type="text"
        name="moto"
        placeholder="Moto"
        required>

        <input
        type="text"
        name="servico"
        placeholder="Serviço"
        required>

        <input
        type="number"
        step="0.01"
        name="valor"
        placeholder="Valor"
        required>

        <button type="submit">

            Criar Ordem

        </button>

    </form>

</div>

{% endif %}

<div class="grid">

    {% for ordem in ordens %}

    <div class="card">

        <h3>{{ ordem.cliente }}</h3>

        <p>

            <strong>Usuário:</strong>

            {{ ordem.usuario }}

        </p>

        <p>

            <strong>Moto:</strong>

            {{ ordem.moto }}

        </p>

        <p>

            <strong>Serviço:</strong>

            {{ ordem.servico }}

        </p>

        <p>

            <strong>Status:</strong>

            {% if ordem.status == "Finalizado" %}

                <span class="status-finalizado">

                    {{ ordem.status }}

                </span>

            {% else %}

                <span class="status-andamento">

                    {{ ordem.status }}

                </span>

            {% endif %}

        </p>

        <p>

            <strong>Valor:</strong>

            R$ {{ ordem.valor }}

        </p>

        {% if session["tipo"] == "admin" %}

        <div class="acoes">

            <a href="/finalizar_ordem/{{ ordem.id }}">

                Finalizar

            </a>

            <a href="/remover_ordem/{{ ordem.id }}">

                Remover

            </a>

        </div>

        {% endif %}

    </div>

    {% endfor %}

</div>

{% endblock %}